@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import 'tailwindcss';

@font-face {
  font-family: 'Alphabet Souplings';
  src: url('../assets/fonts/AlphabetSouplings.ttf');
}

@theme {
  --font-souplings: 'Alphabet Souplings', cursive;
  --font-inter: 'Inter', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-oswald: 'Oswald', sans-serif;
  --text-tiny: 0.625rem;
}
